<<<<<<< HEAD
=======
<<<<<<< HEAD
=======
>>>>>>> d0a6b11bcb7658e3df9dc3376d7372330d19da49
@keyframes moveInLeft {
  /*initial state of the animation*/
  0% {
    opacity: 0;
    transform: translateX(-10rem);
  }
  /* 60%{
    transform: rotate(180deg);
  } */
  80% {
    transform: translateX(1rem);
  }
  /* final state of animation*/
  100% {
    opacity: 1;
    transform: translateX(0);
  }
}
@keyframes moveInRight {
  /*initial state of the animation*/
  0% {
    opacity: 0;
    transform: translateX(10rem);
  }
// 
  80% {
    transform: translateX(-1rem);
  }
  /* final state of animation*/
  100% {
    opacity: 1;
    transform: translateX(0);
  }
}
@keyframes moveInBottom {
  /*initial state of the animation*/
  0% {
    opacity: 0;
    transform: translateY(3rem);
  }
  /* final state of animation*/
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}
<<<<<<< HEAD
=======
>>>>>>> arrenged 7-1
>>>>>>> d0a6b11bcb7658e3df9dc3376d7372330d19da49
