<<<<<<< HEAD
=======
<<<<<<< HEAD
=======
>>>>>>> d0a6b11bcb7658e3df9dc3376d7372330d19da49
// 
$color-primary: #55c57a;
$color-primary-light: #7ed56f;
$color-primary-dark: #28b485;
$color-grey-dark: #777;
$color-white: #fff;
$color-black: #000;
<<<<<<< HEAD
=======
>>>>>>> arrenged 7-1
>>>>>>> d0a6b11bcb7658e3df9dc3376d7372330d19da49
